body {
    padding-bottom: 40px;
}
.my-mt {
    margin-top: 150px;
}

.article-list a {
    text-decoration: none !important;
}

.article:hover {
    border-left: 5px solid #2681e8 !important;
    box-shadow: 5px 5px 10px rgb(170, 168, 168);
}

.loader {
    border: 16px solid #ccc;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: loader-spin 1s linear infinite;
    animation: loader-spin 1s linear infinite;
}

@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}