<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Thong Do</a>
            <button data-target="#item" class=" navbar-toggle" data-toggle="collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="item">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/addQues">Hỏi nhanh</a>
                </li>
                <li class="active">
                    <a href="/">Đáp gọn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center" id="text_question">{{question}}</h1>
    <div class="row text-center" id="btn_answer">
        <div class="col-md-6">
            <a href="/vote/{{id}}/1">
                <button type="submit" class="btn btn-danger btn-lg" name="btn_yesno" value="no">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    Sai / Không / Trái
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/vote/{{id}}/0">
                <button type="submit" class="btn btn-primary btn-lg" name="btn_yesno" value="yes">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Đúng / Có / Phải
                </button>
            </a>
        </div>
    </div>
    <div class="row text-center" id="btn_chuyen">
        <a href="/vote/{{id}}">
            <button type="submit" class="btn btn-default" name="btn_yesno" value="ketquavote">Kết quả vote</button>
        </a>
        <a href="/">
            <button type="submit" class="btn btn-default" name="btn_yesno" value="cauhoikhac">Câu hỏi khác</button>
        </a>
    </div>
</div>