<nav class="navbar navbar-light bg-light">
    <div class="container text-center">
        <form class="form-inline col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search something..." aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text btn" id="basic-addon1">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
        <div class="col-sm-6 site_logo">
            <a href="#!/">
                <img src="img/Logo.png" alt="TechKids Hot Girls Logo"> HOT GIRLS
            </a>
        </div>
        <div class="col-sm-3 ">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text btn" id="basic-addon1">
                        <i class="fa fa-camera"></i>
                    </span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text btn" id="basic-addon1">
                        <i class="fa fa-align-justify"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Thong Do" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</nav>
<section class="container mt-3">
    <div class="card-columns">
        <div class="card">
            <div class="position-absolute info1 btn" data-toggle="modal" data-target="#detailPost">
                <span class="input-group-text bg-white" id="basic-addon1">
                    <i class="fa fa-plus detail"></i>
                </span>
            </div>
            <img class="card-img-top" src="/img/6.jpg" alt="Card image cap" />
            <div class="card-body position-relative">
                <div class="position-absolute row w-100 text-center info">
                    <div class=" col-sm-4 d-flex flex-column">
                        <i class="fa fa-eye"></i>
                        <i class="font-sm">999</i>
                    </div>
                    <div class=" col-sm-4 d-flex flex-column">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <i class="font-sm">30/2/2021</i>
                    </div>
                    <div class=" col-sm-4 d-flex flex-column">
                        <i class="fa fa-plus"></i>
                        <i class="font-sm">999</i>
                    </div>
                </div>
                <div class=" d-flex flex-row">
                    <img src="/img/7.png" class="rounded-circle avt" />
                    <div class="pl-2">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>


    </div>
    <!-- Modal -->

    <div class="modal fade" id="detailPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content w-75">
                <div class="modal-header">
                    <span class="input-group-text bg-white btn" id="basic-addon1" data-toggle="modal" data-target="#poster" data-dismiss="modal">
                        <i class="fa fa-plus detail"></i>
                    </span>
                    <button type="button" class="close">
                        <div class="row">
                            <div class="d-flex flex-column font-md col-sm-4">
                                <i class="fa fa-eye"></i>
                                <i class="font-sm">999</i>
                            </div>
                            <div class="d-flex flex-column font-md col-sm-4">
                                <i class="fa fa-clock-o"></i>
                                <i class="font-sm">30/2/2021</i>
                            </div>
                            <div class="d-flex flex-column font-md col-sm-4">
                                <i class="fa fa-plus"></i>
                                <i class="font-sm">999</i>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="/img/7.png" alt="" class="w-100">
                    <div class="mt-3 d-flex flex-row">
                        <img src="/img/7.png" class="rounded-circle avt-2" />
                        <div class="pl-2">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        </div>
                    </div>
                    <p class="mt-3 card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="container">
                    <div class="modal-footer">
                        <div class="mt-3 ml-0 pl-0 d-flex flex-row col-md-12">
                            <img src="/img/1.jpg" class="rounded-circle avt-1 ml-0 pl-0" />
                            <div class="pl-2">
                                <h5 class="card-title font-sm">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted font-sm">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="poster" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-info">Đăng nhập</button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row">
                        <img src="/img/3.jpeg" class="w-100 col-lg-6 cover-h">
                        <div class="col-lg-6">
                            <h3>
                                <img src="/img/Logo.png" /> HOT GIRLS
                            </h3>
                            <p class="font-weight-bold mb-0 pb-0">
                                500 anh em TK đã vào đây quay tay.
                            </p>
                            <p class="mt-0 pt-0">
                                Chào mừng bạn đến với lầu xanh lớn nhất VN!
                            </p>
                            <button class="btn btn-block btn-social btn-facebook btn-fb-color text-white">
                                Tiếp tục với Facebook
                            </button>
                            <p class="text-center">hoặc</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Tài khoản" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Mật khẩu" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <button class="btn btn-block btn-info">Đăng ký</button>
                            <p class="text-right">
                                <small>
                                    Code trang này tức là đồng ý với Terms of Use, và làm nô lệ cho designer.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>