<header class="header">
    <nav class="container">
        <div class="row">
            <form class="col-sm-3 search_form ng-pristine ng-valid">
                <input type="text" name="s" placeholder="Enter your search..." class="form-control">
                <span class="glyphicon glyphicon-search"></span>
            </form>
            <div class="col-sm-6 text-center site_logo">
                <a href="#">
                    <img src="/img/Logo.png" alt="TechKids Hot Girls Logo"> HOT GIRLS
                </a>
            </div>
            <div class="col-sm-3 profile_group">
                <div class="profile_wrapper">
                    <a href="#" class="item_btn">
                        <span class="glyphicon glyphicon-camera"></span>
                    </a>
                    <button class="navbar-toggler item_btn2 collapsed">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <span class="username ng-binding">
                        Thong Do
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">

        </div>
    </div>
</section>
<div class="container main-content">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/1.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/2.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/3.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/5.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/5.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/6.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/7.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/8.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/1.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/1.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/3.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="plus-btn">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="info-post">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon glyphicon-time"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <img src="/img/8.jpg" class="hover-in">
            <div class="caption">
                <div class="icon"></div>
                <div class="info">
                    <h4>Thumbnail label</h4>
                    <h6>Lorem inspu</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iure doloribus omnis et unde! Officia quibusdam
                    beatae quas accusamus, repudiandae illum labore fuga doloremque, incidunt dolores sapiente modi, ut odio.
                </p>
            </div>
        </div>
    </div>
</div>