<div class="container">
    <h1 class="title">
        ScoreKeeper
    </h1>
    <form action="/" class="form-group text-center mt-5" method="post">
        <input type="text" class="form-control rounded mb-3" name="player1" id="" placeholder="Player 1.....">
        <input type="text" class="form-control rounded mb-3" name="player2" id="" placeholder="Player 2.....">
        <input type="text" class="form-control rounded mb-3" name="player3" id="" placeholder="Player 3.....">
        <input type="text" class="form-control rounded mb-3" name="player4" id="" placeholder="Player 4.....">
        <button type="submit" class="btn">CREATE NEW GAME</button>
    </form>
</div>