<h1>
    Ask me please!!!
</h1>
<form method="POST" action="/addQues">
    <textarea name="question" cols="30" rows="10"></textarea>
    <button type="submit" style="display: block;">Send</button>
</form>
<a href="/">back to home</a>