<table>
    <tr>
        <th>Question</th>
        <th>Yes</th>
        <th>No</th>
    </tr>

    {{#each data}}
    <tr>
        <td>{{questionContent}}</td>
        <td>{{yes}}</td>
        <td>{{no}}</td>
    </tr>
    {{/each}}
</table>
<a href="/">go to home</a>