nav.menu {
    width: 100%;
    background-color: #D5B0AC;
    font-weight: bold;
    color: #402E2A;
    text-align: center;
}

nav.menu span {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

nav.menu span:hover {
    color: #FFFFFF;
    background-color: #9CD08F;
}
.dropdown {
    display: none;
    position: absolute;
    
}
.dropdown .dropdown {
    left: 100px;
    top: 0;
}
.dropdown span {
    position: relative;
   
}
nav.menu span:hover>.dropdown {
    display: block;
    position: absolute;
}

.dropdown span:hover>.dropdown {
    display: block;
}

nav.menu.menu_vertical span {
    background-color: #D5B0AC !important;
    display: block;
    margin-bottom: 1px;
}

.menu_vertical {
    background-color: #FFFFFF !important;
}

nav.menu.menu_vertical span:hover {
    color: #FFFFFF;
    background-color: #9CD08F !important;
}