<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homework of day 5</title>
    <style>
        body {
            background-color: rgb(111, 153, 70);
            text-align: center;
        }

        .content {
            width: 70%;
            margin: 0 auto;
        }

        .content h1 {
            border: 3px solid salmon;
        }

        .add {
            display: block;
            margin-top: 40px;
        }

        button {
            height: 60px;
            width: 80px;
            font-weight: bold;
            color: powderblue;
            background-color: peru;
        }

        textarea {
            background-color: rgb(190, 154, 87);
        }

        form button {
            margin: 0 auto;
        }

        table {
            margin: 0 auto;
            width: 100%;

        }

        table,
        tr td{
            border: 1px solid rgb(212, 134, 125);
            color: rgb(83, 40, 9);
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="content">
        {{{body}}}
    </div>
</body>

</html>