.card-columns {
    column-count: 4;
}

.card {
    width: 16rem;
}

.info {
    bottom: 102%;
}

.font-sm {
    font-size: 9px;
}

.font-md {
    font-size: 15px;
}

.card i {
    color: white;
}

.card div span>.detail {
    color: black;
}

.info,
.info1 {
    display: none;
}

.card:hover .info {
    display: inline-flex;
}

.card:hover .info1 {
    display: inline;
}

.avt {
    width: 45px;
    height: 45px;
}
.avt-1 {
    width: 35px;
    height: 35px;
}

.avt-2 {
    width: 65px;
    height: 65px;
}
.btn-fb-color {
    background-color: #3B5998;
}
.cover-h {
    height: 442px;
}

