body {
    background-color: #DFDFDF;
}

.header {
    padding: 15px 0 10px;
    background: #ffffff;
}

.search_form input[type=text] {
    border-radius: 0;
    padding-right: 23px;
}

.search_form .glyphicon-search {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translate(0, -50%);
    color: #cecece;
}

.site_logo {
    font-size: 22px;
    line-height: 34px;
    color: #00A0C6;
    font-weight: 100;
}
.site_logo a {
    font-weight: 400;
}

.site_logo img {
    max-height: 34px;
}

.profile_wrapper {
    border: 1px solid #cecece;
    line-height: 34px;
}

.profile_wrapper .item_btn {
    float: left;
    width: 34px;
    height: 33px;
    font-size: 18px;
    text-align: center;
    color: #cecece;
    border: 0 none;
    background: #337ab7;
    border-right: 1px solid #cecece;
}

.profile_wrapper .item_btn2 {
    float: left;
    width: 34px;
    height: 33px;
    font-size: 18px;
    text-align: center;
    color: #cecece;
    border: 0 none;
    background: #ffffff;
    border-right: 1px solid #cecece;
}

.profile_wrapper .btn {
    border-radius: 0;
}

.profile_wrapper .item_btn:hover {
    color: #ffffff;
    background: #00A0C6;
}

.username {
    padding-left: 15px;
    color: #cecece;
}

.main-content {
    margin-top: 30px;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: burlywood;
    display: inline-block;
    border-radius: 50%;
}

.info {
    width: 130px;
    display: inline-block;
}

.plus-btn,
.info-post {
    position: absolute;
    display: none;
}

.plus-btn {
    top: 10px;
    left: 30px;
    color: white;
}

.info-post {
    top: 110px;
    color: white;
}

.thumbnail:hover .info-post {
    display: block;
}

.thumbnail:hover .plus-btn {
    display: block;
}
